<div class="content">
    <ul class="actions">
        <li (click)="startLightShow('rainbow')"><a class="button special rainbow">Start a Rainbow light show!</a></li>
        <li (click)="startLightShow('red')"><a class="button special red">Start a Red light show!</a></li>
        <li (click)="startLightShow('blue')"><a class="button special blue">Start a Blue light show!</a></li>
        <li (click)="startLightShow('green')"><a class="button special green">Start a Green light show!</a></li>
        <li (click)="startLightShow('clear')"><a class="button special black ">End light show</a></li>
    </ul>
</div>