<iframe width="100%" *ngIf="url" height="100" scrolling="no" frameborder="no" [src]='url'></iframe>

<div class="container">
  <div class="kaleid_main">
    <div class="kaleid_cont">
      <div class="kal sec1">
        <div class="kalsec" [ngStyle]="{ 'background-image': 'url(' + image + ')'}"></div>
      </div>
      <div class="kal sec2">
        <div class="kalsec" [ngStyle]="{ 'background-image': 'url(' + image + ')'}"></div>
      </div>
      <div class="kal sec3">
        <div class="kalsec" [ngStyle]="{ 'background-image': 'url(' + image + ')'}"></div>
      </div>
      <div class="kal sec4">
        <div class="kalsec" [ngStyle]="{ 'background-image': 'url(' + image + ')'}"></div>
      </div>
      <div class="kal sec5">
        <div class="kalsec" [ngStyle]="{ 'background-image': 'url(' + image + ')'}"></div>
      </div>
      <div class="kal sec6">
        <div class="kalsec" [ngStyle]="{ 'background-image': 'url(' + image + ')'}"></div>
      </div>
      <div class="kal sec7">
        <div class="kalsec" [ngStyle]="{ 'background-image': 'url(' + image + ')'}"></div>
      </div>
      <div class="kal sec8">
        <div class="kalsec" [ngStyle]="{ 'background-image': 'url(' + image + ')'}"></div>
      </div>
      <div class="kal sec9">
        <div class="kalsec" [ngStyle]="{ 'background-image': 'url(' + image + ')'}"></div>
      </div>
      <div class="kal sec10">
        <div class="kalsec" [ngStyle]="{ 'background-image': 'url(' + image + ')'}"></div>
      </div>
      <div class="kal sec11">
        <div class="kalsec" [ngStyle]="{ 'background-image': 'url(' + image + ')'}"></div>
      </div>
      <div class="kal sec12">
        <div class="kalsec" [ngStyle]="{ 'background-image': 'url(' + image + ')'}"></div>
      </div>
    </div>
  </div>
</div>

