:host {
    display: block;
    padding: 0 16px;
  }
  
  .fa {
    font-family: FontAwesome, fontawesome-webfont;
  }
  
  Label {
    color: white;
    font-size: 10;
  }
  
  .innerCard{
    padding:5;
    background-color:black;
    margin:5;
  }