<header id="header">
    <div class="content">
        <h1>Welcome to PocketRave!</h1>
        <p>Create your own personal sound and light show!<br> Download the mobile app to get started</p>
        <ul class="actions">
            <li><a href="https://itunes.apple.com/us/app/pocketrave-lights-music-art/id1137458667" class="button special">Download for iOS</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.ladeezfirstmedia.pocketrave" class="button special">Download for Android</a></li>
        </ul>
    </div>
    <div class="image phone">
        <div class="inner"><img src="../assets/screen.png" alt=""></div>
    </div>
</header>