// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example 'nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';

// Customize any of the theme’s variables here, for instance $btn-color: red;

// Import the theme’s main ruleset.
@import '~nativescript-theme-core/scss/index';

/*@import url("~/platform.css");*/

/*pallette taken from http://www.colourlovers.com/palette/2053287/Raving_Night_Lights*/

Page {
    background-color: #1C0123;
    font-size: 17;
    background-image: url('res://bg3');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
ActionBar{
    background-color:#6E09F5;
    color:#F922BE;
}

.title {
    font-weight: bold;
    margin-bottom: 10;
    color: #07E649;
}
.card {
    margin: 10;
    padding:10;
    vertical-align:top;
    background-color: black;
    opacity: .90;
}

Image {
    margin-top: 20;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30;
}

.blue{
   background-color:#09B3E7;
   color: white;
   border-radius: 2;
}
.pink{
    background-color:#F922BE;
    border-radius: 2;
}
.purple{
    background-color:#6E09F5;
    border-radius: 2;
}

.black {
    color: black;
}

.fa {
  font-family: FontAwesome, fontawesome-webfont;
}

.action-btn {
  color:#fff;
}

ListView {
  background-color: white;
  opacity: .9;
}

.drawingPad {
    background-color: "#000";
    border: 1 gray;

}
