<div class="content">
    
    <h1>About PocketRave</h1>

    <p align="left">Be the light and life of your party with PocketRave! Use the mobile app to create small graphics, match them with music tracks 
    from Soundcloud, and play them on the web in a kaleidoscope. Create a light show by forking this codebase and leveraging to your Photon device connected
    to an RGB LED light strip. Learn how with this <a href="http://developer.telerik.com/topics/iot/bling-laptop-festive-web-connected-light-show/">tutorial</a>.</p>

    <p align="left">With many thanks for the invaluable help of Nathan Walker!</p>

    <p align="left">Like what you see? Having trouble? Contact the maker, <a href="mailto:jen@ladeezfirstmedia.com">Ladeez First Media</a>.</p>

</div>
